#mainFooter {
  position: fixed;
  top: calc(100vh - 95px);
  left: 13px;
  width: calc(100vw - 26px);
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  border-radius: 12px;
  z-index: 5;
  transition: top 0.20s ease;
}

#homeSlide {
  width: 100vw;
  position: fixed;
  bottom: 14px;
  left: 13px;
  width: calc(100vw - 26px);
  height: calc(100vh - 40px);
  position: absolute;
  background-color: black;
  transform-origin: bottom;
  transform: scaleY(0);    
  transition: transform 0.26s ease;
  border-radius: 12px;
  overflow: hidden;
}


#itemArea {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  transition: opacity 0.26s ease;
  opacity: 0%;
}

.item {
  cursor: pointer;
  width: 420px;
  height: 500px;
  margin-left: 20px;
  text-align: center;
  display: inline;
  position: relative;
}

.itemImage {
  width: 420px;
  max-height: 420px;
  max-width: 80vw;
}

.itemInfo {
  margin-top: -25px;
  position: absolute;
  width: 100%;
  right: 0px;
}

.itemName {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.itemPrice {
  color: white;
  margin-top: 5px;
}

/* #mainFooter:hover #bg {
  transform: scaleY(1);    
} */

#logo {
  width: 35px;
  height: 35px;
  margin-left: 20px;
}

#footTitle {
  color: white;
  margin-left: 15px;
  font-weight: bold;
}

#upBtn {
  width: 30px;
  position: absolute;
  right: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
 
.indeximage {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  background: url(https://static.vecteezy.com/system/resources/previews/001/330/739/original/black-and-white-interlocking-geometric-pattern-free-vector.png)center center;
  width: 110vw !important;
  height: 110vh !important;
  overflow: hidden !important;
  object-fit: cover;
}

.indeximage {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .15s linear;
  overflow: hidden;
  height: 120vh;
  min-width: 100vw;
  object-fit: cover;
}

.indexOuter {
  position: fixed;
  top: -200px;
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden !important;
  cursor: pointer;
}
