.dashItem {
    text-align: center;
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 12px;
    background-color: black;
    margin-top: 12px;
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
  }

  .innerDashItem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}
  
  .dashItemImage {
    width: 160px;
    max-height: 336px;
    max-width: 80vw;
    margin-bottom: 40px;

  }

  .dashItemInfo {
    position: absolute;
    bottom: 18px;
  }
  
  .itemInfo {
    margin-top: -20px;
    position: absolute;
    width: 100%;
    right: 0px;
  }
  
  .itemName {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
  }
  
  .itemPrice {
    color: white;
    margin-top: 5px;
    font-size: 13px;
  }