nav{
    position: absolute;
    width: 100vw;
    height: 100vh;

}
/* ============= */
/* Nav Links */
/* ============= */
.navText {
  position: absolute;
  cursor: pointer;
  z-index: 51;
  color: white;
  font-family: "Kharkiv";
  transition: 0.3s ease-in-out;
  font-size: 1.15rem;
}

#siteTitle {
  left: 25px;
  top: 25px;
}

#about {
  right: 25px;
  top: 25px;
}

#contact {
  right: 25px;
  bottom: 25px;
}

#sound {
  position: fixed;
  left: 10px;
  bottom: -10px;
  width: 80px;
  height: 80px;
  transition: 0.3s ease-in-out;
}

/* ============= */
/* Social Icons */
/* ============= */
#socials {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 1s ease-in-out;
}

.socialIcon {
  cursor: pointer;
  margin: 25px;
}
.socialIcon img{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }



/* ----------- iPhone X ----------- */

@media only screen 
and (min-device-width: 175px) 
and (max-device-width: 812px)  { 
/* ============= */
/* Nav Links */
/* ============= */
.navText {
  font-size: 1.15rem;
}
#contact {
  display: none;
}
#sound {
  display: none;

}
}