#mainFooter2 {
  position: fixed;
  top: 12px;
  left: 10px;
  width: calc(100vw - 20px);
  height: 64px;
  background-color: black;
  display: flex;
  align-items: center;
  border-radius: 10px;
  z-index: 5;
  transition: top 0.40s ease;
}

#homeSlide2 {
  width: 100vw;
  position: fixed;
  bottom: 11px;
  left: 10px;
  width: calc(100vw - 20px);
  height: calc(var(--app-height) - 32px);
  position: absolute;
  background-color: black;
  transform-origin: bottom;
  transform: scaleY(1);
  transition: transform 0.4s ease;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

#upBtn2 {
  width: 22px;
  position: absolute;
  right: 32px;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}