#checkoutFlex {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    height: 100vh;
}

#checkoutArea {
    width: 60vw;
}

#checkoutTitle {
    color: white;
    font-family: "Kharkiv";
    text-align: center;
    font-size: 25px;
    margin-top: 80px;
}

#checkoutItems {
    margin-top: 20px;
}