#checkoutFlex {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 500;
}

#checkoutArea {
    width: 60vw;
}

#checkoutTitle {
    color: white;
    font-family: "Kharkiv";
    text-align: center;
    font-size: 25px;
    margin-top: 80px;
}

#checkoutItems {
    margin-top: 20px;
}

#checkoutTotal {
    color: white;
    font-family: "Kharkiv";
    margin-bottom: 20px;
}

/* #paypalCheckoutBtn {
    position: relative;
    padding-top: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: red;
}

#paypalArea {
    width: 100%;
} */

@media only screen and (max-width: 919px) {
    #checkoutArea {
        width: 80vw;
    }
}