@font-face {
  font-family: "Kharkiv";
  src: url("../../assets/Kharkiv.ttf");
}

#testBg {
  width: 100vw;
  height: 100vh;
  /* background-color: #111111; */
  /* filter: invert(100%); */
}

/* ============= */
/* Menu */
/* ============= */
#sidebar {
  position: relative;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #11111100;
  transition: all 1.6s ease-in-out;
  z-index: 49;

}

#sidebarTab,
#sidebarTab2 {
  z-index: 50;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: calc(50vh - 80px);
  width: 40px;
  height: 90px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  right: 0px;
  transition: all .5s ease-in-out;
  background-color: white;

}

#sidebarTab div,
#sidebarTab2 div {
  text-transform: uppercase;
  font-family: "Kharkiv";
  font-weight: 700;
  color: black;
}

/* ============= */
/* Canvas/Animation */
/* ============= */

#canvas {
  margin-bottom: 20px;
}

#canvasFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

/* BG */
#stars {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 1;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -5%);
  }

  20% {
    transform: translate(-10%, 5%);
  }

  30% {
    transform: translate(5%, -10%);
  }

  40% {
    transform: translate(-5%, 15%);
  }

  50% {
    transform: translate(-10%, 5%);
  }

  60% {
    transform: translate(15%, 0);
  }

  70% {
    transform: translate(0, 10%);
  }

  80% {
    transform: translate(-15%, 0);
  }

  90% {
    transform: translate(10%, 5%);
  }

  100% {
    transform: translate(5%, 0);
  }
}