#mainFooter {
    position: fixed;
    /* top: calc(100vh - 76px); */
    bottom: calc(env(safe-area-inset-bottom) + 12px);
    left: 10px;
    width: calc(100vw - 20px);
    height: 64px;
    background-color: black;
    display: flex;
    align-items: center;
    border-radius: 10px;
    z-index: 5;
    transition: bottom 0.40s ease;
  }
  
  #homeSlide {
    width: 100vw;
    position: fixed;
    bottom: calc(env(safe-area-inset-bottom) + 12px);
    left: 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 32px - env(safe-area-inset-bottom));
    position: absolute;
    background-color: black;
    transform-origin: bottom;
    transform: scaleY(0);    
    transition: transform 0.4s ease;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  #itemArea {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    transition: opacity 0.5s ease;
    opacity: 100%;
  }

  #block {
    width: 100%;
    height: 80px;
  }
  
  /* #mainFooter:hover #bg {
    transform: scaleY(1);    
  } */
  
  #logo {
    width: 28px;
    height: 28px;
    margin-left: 20px;
  }
  
  #footTitle {
    color: white;
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
  }

  #upBtnArea {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
  }
  
  #upBtn {
    width: 24px;
    position: absolute;
    right: 32px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
   
  .indeximage {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    background: url("../../assets/pattern.png")center center;
    width: 110vw !important;
    height: 110vh !important;
    overflow: hidden !important;
    object-fit: cover;
    background-size: cover; 
  }
  
  .indeximage {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .15s linear;
    overflow: hidden;
    height: 120vh;
    min-width: 100vw;
    object-fit: cover;
    display: none;
  }
  
  .indexOuter {
    position: fixed;
    top: -200px;
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden !important;
    cursor: pointer;
  }

  #itemPage {
    margin-top: 80px;
    text-align: initial;
  }

  #productImageArea {
    position: relative;
    width: 40%;
    height: calc(100vh - 220px);
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
  }

  #productImage {
    width: 450px;
    max-width: 95vw;
  }

  #productImageBtnsFlex {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #productImageBtns {
    bottom: 0px;
    width: 300px;
    display: flex;
    justify-content: space-between;
  }

  .productImageBtn {
    width: 40px;
    height: 6px;
    border: solid 1px white;
    cursor: pointer;
    border-radius: 8px;
  }

  #productInfoOuter {
    float: right;
    width: calc(60%);
    height: calc(100vh - 220px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #productInfo {
    text-align: center;
    width: 500px;
    max-width: 80vw;
  }

  #sizeBtns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .sizeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    width: 60px;
    height: 23px;
    font-size: 12px;
    border-radius: 12px;
    cursor: pointer;
  }

  #selectedSize {
    color: black;
    background-color: white;
  }
  
  #productTitle {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }

  #productTitle2 {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    display: none;
    justify-content: center;
  }

  #productDescription {
    margin-top: 50px;
  }

  #paypalBtnArea {
    margin-top: 60px;
  }

  @media only screen and (max-width: 1050px) {
    #productImageArea {
      position: relative;
      width: 100%;
      height: initial;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0px;
      /* background-color: blue; */
    }

    #productInfoOuter {
      float: right;
      width: 100%;
      height: initial;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
    }

    #sizeBtns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    #productTitle {
      display: none;
    }
  
    #productTitle2 {
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      display: flex;
    }
  
  }
  