:root {
    --app-height: 100%;
}

#accountFlex {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin {
    width: calc(100vw - 45px);
    height: calc(var(--app-height) - 50px);
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 16px 12px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

#adminArea {
    width: calc(100% - 70px);
    height: 100%;
    position: relative;
}

#dashHeader {
    top: 0px;
    position: absolute;
    width: 100%;
    background-color: white;
}

#dashBtns {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.dashButton {
    width: 90px;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
}

#dashTitle {
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 30px;
}

#horLine {
    width: 100%;
    border-bottom: solid 2px black;
    margin-top: 20px;
}

#adminBody {
    overflow: scroll;
    position: absolute;
    top: 78px;
    height: calc(100% - 78px);
    width: 100%;
    overflow-x: hidden;
}

#quickStats {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
}

#quickStats div {
    margin-top: 30px;
}

.subTitle {
    margin-top: 30px;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase; 
    padding-top: 30px;
}

#listArea {
    width: 100%;
    margin-top: 15px;
}

.listItem {
    width: 220px;
    height: 220px;
    border-radius: 12px;
    background-color: black;
    margin-top: 12px;
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}

#ordersTitle {

}

.orderItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-radius: 8px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.leftOrderStat {
    margin-left: 25px;
}

.rightOrderStat {
    margin-right: 25px;
}